.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px;
     
}
.top-nav {
    height: 150px;
    background-color: green;
    
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    
    display: inline-block;
}
.main {
    height: 400px;
    width: 712px;
    background-color: red;
    display: inline-block;
    vertical-align: 89px;
    margin-bottom: 18px;
    margin-left: 30px;
    margin-top: 30px;

}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 1px;
    margin-left: 10px;
    margin-top: 10px;
    
    
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin-top: 20px;
    margin-left: 10px;
}

